In [20]:
import numpy as np
import pandas as pd

In [21]:
# Set Principle Variable
PATH_STATION_INFO = "../raw_data/selected/부산교통공사_도시철도 역명정보.csv"
PATH_STATION_INFO_REFINE = "../trimmed_data/stationCodeNameLine.json"

# `01-station-Info-Refine.ipynb`
역코드 정보를 좀 더 쓰기 편하게 다듬습니다.

In [22]:
# RawData
# 주의 : 원자료에 수영역이 208이 아닌 209로 되어 있음. 수정해야함.
df = pd.read_csv(PATH_STATION_INFO,encoding="EUC-KR")
df.head(3)

    호선  역번호       역명              영문                         주소          전화번호
0  1호선   95  다대포해수욕장   Dadaepo Beach  부산광역시 사하구 다대로 지하 692(다대동)  051-678-6195
1  1호선   96     다대포항  Dadaepo Harbor   부산광역시 사하구 다대로 지하548(다대동)  051-678-6196
2  1호선   97       낫개          Natgae   부산광역시 사하구 다대로 지하442(다대동)  051-678-6197

In [23]:
TARGET_COLUMNS = ["역번호", "역명", "호선"]
TARGET_COLUMNS_ENG = ["StationCode", "StationName", "LineCode"]

# TargetData
# Retouch Name
df_station_code = df.loc[:, TARGET_COLUMNS]
df_station_code = df_station_code.rename(
    columns={idx: new_name for idx, new_name in zip(TARGET_COLUMNS, TARGET_COLUMNS_ENG)}
)

df_station_code["LineCode"] = df_station_code["LineCode"].apply(lambda _x: _x.replace("호선",""))

with open(PATH_STATION_INFO_REFINE,mode="w",encoding="UTF-8") as f:
    f.write(df_station_code.to_json(index=False))

In [24]:
df = pd.read_json(PATH_STATION_INFO_REFINE,encoding="UTF-8")
df.head(3)

   StationCode StationName  LineCode
0           95     다대포해수욕장         1
1           96        다대포항         1
2           97          낫개         1