In [14]:
import numpy as np
import pandas as pd
from tqdm import tqdm

In [15]:
TRAIN_CODE = pd.read_csv("../trimmed_data/SubwayStation-Code.csv")
TRAIN_CODE = TRAIN_CODE.set_index(keys="StationName")
print(TRAIN_CODE.loc["낫개","StationCode"])

DAYTYPE = ['토요일', '일요일', '공휴일', '평일']
LoadPath_SubwayStation_Schedule_DayType = [f"../trimmed_data/SubwayStation-Schedule-{day}.json" for day in DAYTYPE]
SaveFilePath= [f"../trimmed_data/SubwayStation-ScheduleInterval-{day}.json" for day in DAYTYPE]

97

# `SubwayUniStation-ScheduleSeperation.ipynb`
02 에서 만든 데이터로 쪼게기.

## 1. 데이터 불러오기

In [16]:
for day,path,savepath in zip(DAYTYPE,LoadPath_SubwayStation_Schedule_DayType,SaveFilePath):
    db = pd.read_json(path,encoding="UTF-8")
    column = db.columns.to_list()
    df = pd.DataFrame({c: [] for c in column})
    
    for i in tqdm(db.index):
        tCode, lNumber, dVect, sList, aSchedule, dSchedule = db.loc[i, :]
        for s, a, d in zip(sList, aSchedule, dSchedule):
            _unit = pd.DataFrame(
                {
                    column[0]: [int(tCode)],
                    column[1]: [int(lNumber)],
                    column[2]: [int(dVect)],
                    column[3]: [s],
                    column[4]: [a],
                    column[5]: [d],
                    "DayType": day,
                }
            )
            # df.loc[len(df)] = pd.Series({'A': 6, 'B': 'f'})   # 1 minute 28.3 sec
            # df = df._append(_unit)                            # 38.5 sec
            df = pd.concat([df, _unit], ignore_index=True)      # 35.6 sec
    trim_target = [*column[0:3],*column[5:7]]
    for idx in trim_target:
        df[idx] = pd.to_numeric(df[idx].fillna(0),downcast="integer")

    with open(savepath,mode="w",encoding="UTF-8") as f:
        f.write(df.to_json(index=False))
        print(f"SAVE >>> {savepath}")
df.head(3)

  0%|          | 0/1277 [00:00<?, ?it/s]

/tmp/ipykernel_67041/3953280398.py:22: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, _unit], ignore_index=True)      # 35.6 sec
100%|██████████| 1277/1277 [00:42<00:00, 29.84it/s]

SAVE >>> ../trimmed_data/SubwayStation-ScheduleInterval-토요일.json

  0%|          | 0/278 [00:00<?, ?it/s]/tmp/ipykernel_67041/3953280398.py:22: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, _unit], ignore_index=True)      # 35.6 sec
100%|██████████| 278/278 [00:03<00:00, 89.09it/s]

SAVE >>> ../trimmed_data/SubwayStation-ScheduleInterval-일요일.json

  0%|          | 0/924 [00:00<?, ?it/s]/tmp/ipykernel_67041/3953280398.py:22: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, _unit], ignore_index=True)      # 35.6 sec
100%|██████████| 924/924 [00:31<00:00, 29.79it/s]

SAVE >>> ../trimmed_data/SubwayStation-ScheduleInterval-공휴일.json

  0%|          | 0/1354 [00:00<?, ?it/s]/tmp/ipykernel_67041/3953280398.py:22: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, _unit], ignore_index=True)      # 35.6 sec
100%|██████████| 1354/1354 [00:45<00:00, 29.74it/s]

SAVE >>> ../trimmed_data/SubwayStation-ScheduleInterval-평일.json

,TrainCode,LineNumber,DirectionVector,StationList,ArriveSchedule,DepartSchedule,DayType
0,1001,1,1,노포,308.0,308,평일
1,1001,1,1,범어사,309.0,310,평일
2,1001,1,1,남산,311.0,312,평일